/*

*/

.version.index /* version checker */
{
	color: #000014;
	background-color: #FDC373;
}

.html
{
	background-color: #F1F1F1;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4771px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 448px;
	padding-bottom: 1414px;
	width: 0.01px;
}

#u95
{
	z-index: 100;
	height: 574px;
	-pie-box-shadow: 0px 2px 2px #E5E5E5;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	background-color: #FFFFFF;
}

#u95-bw
{
	z-index: 100;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#u87
{
	z-index: 109;
	width: 500px;
	background-color: transparent;
	position: fixed;
	top: 62px;
	left: 230px;
}

#u96-4
{
	z-index: 101;
	width: 204px;
	min-height: 106px;
	background-color: transparent;
	letter-spacing: 1px;
	text-align: center;
	font-size: 60px;
	line-height: 108px;
	font-family: '__Roboto Slab_5';
	font-weight: 700;
	position: fixed;
	top: 432px;
	left: 181px;
}

#u103-4
{
	z-index: 105;
	width: 256px;
	min-height: 106px;
	background-color: transparent;
	text-align: center;
	font-size: 60px;
	line-height: 108px;
	font-family: '__Roboto Slab_5';
	font-weight: 700;
	position: fixed;
	top: 432px;
	left: 572px;
}

#sample
{
	left: -2px;
	position: relative;
}

#u262-4
{
	z-index: 111;
	width: 223px;
	min-height: 60px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 50px;
	line-height: 60px;
	font-family: '__Roboto_5';
	font-weight: 500;
	position: fixed;
	top: 640px;
	left: 68px;
}

#u264-4
{
	z-index: 119;
	width: 223px;
	min-height: 60px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 50px;
	line-height: 60px;
	font-family: '__Roboto_5';
	font-weight: 500;
	position: fixed;
	top: 640px;
	left: 369px;
}

#u263-4
{
	z-index: 115;
	width: 223px;
	min-height: 60px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 50px;
	line-height: 60px;
	font-family: '__Roboto_5';
	font-weight: 500;
	position: fixed;
	top: 640px;
	left: 669px;
}

.js #u262-4.ose_pre_init,.js #u264-4.ose_pre_init,.js #u263-4.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pu112
{
	width: 0.01px;
	margin-left: -170px;
	margin-top: 204px;
}

#u112
{
	z-index: 92;
	width: 400px;
	height: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/11694852_1046729442027110_6351314127784957507_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#u104
{
	z-index: 91;
	width: 400px;
	height: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
	left: 450px;
	background: #FFFFFF url("../images/11998974_1091443087555745_6263003696033621295_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#u113
{
	z-index: 93;
	width: 400px;
	height: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
	left: 900px;
	background: #FFFFFF url("../images/12002999_1091443034222417_5945593355310018563_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#u115
{
	z-index: 95;
	width: 400px;
	height: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/12003023_1086899604676760_8171687757063356278_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#u114
{
	z-index: 94;
	width: 400px;
	height: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
	left: 450px;
	background: #FFFFFF url("../images/12011269_1091443124222408_9100682796217154426_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#u116
{
	z-index: 96;
	width: 400px;
	height: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
	left: 900px;
	background: #FFFFFF url("../images/11996918_1086899638010090_5028269678507522062_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#pu115,#ppu118
{
	width: 0.01px;
	margin-left: -170px;
	margin-top: 34px;
}

#pu118
{
	z-index: 98;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u118
{
	z-index: 0;
	width: 400px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: absolute;
	top: 0px;
	bottom: 0px;
	background: #FFFFFF url("../images/12003266_1089616697738384_5778111582932943363_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#pabout
{
	width: 0.01px;
	position: relative;
	left: 170px;
	padding-top: 93px;
	z-index: 2;
	padding-bottom: 139px;
}

#about
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
}

#u117
{
	z-index: 97;
	width: 400px;
	height: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
	left: 450px;
	background: #FFFFFF url("../images/12009769_1086899451343442_3871587623470237862_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#u119
{
	z-index: 99;
	width: 400px;
	height: 250px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	position: relative;
	margin-right: -10000px;
	left: 900px;
	background: #FFFFFF url("../images/10624976_1089616687738385_8595170768701577820_n.jpg") no-repeat center bottom;
	background-size: cover;
}

#pu246
{
	width: 0.01px;
	margin-top: 48px;
}

#u246
{
	z-index: 62;
	width: 960px;
	height: 384px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u253
{
	z-index: 63;
	width: 960px;
	height: 234px;
	background-color: #F8F8F8;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
}

#u248-27
{
	z-index: 64;
	width: 920px;
	min-height: 454px;
	background-color: transparent;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 20px;
}

#u248-2
{
	font-size: 40px;
	line-height: 80px;
	font-family: '__Roboto_5';
	font-weight: 500;
}

#u248-4,#u248-5
{
	font-size: 23px;
	line-height: 28px;
	font-family: '__Roboto_5';
	font-weight: 300;
}

#u248-7,#u248-11
{
	font-size: 20px;
	line-height: 24px;
	font-family: '__Roboto_5';
	font-weight: 200;
}

#u248-13
{
	font-size: 20px;
	line-height: 24px;
	color: #F8F8F8;
	font-family: '__Roboto_5';
	font-weight: 200;
}

#u248-17
{
	font-size: 24px;
	line-height: 29px;
	font-family: '__Roboto_5';
	font-weight: 400;
}

#u248-19
{
	font-size: 40px;
	line-height: 48px;
	font-family: '__Roboto_5';
	font-weight: 200;
}

#u248-15,#u248-21
{
	font-size: 25px;
	line-height: 30px;
	color: #F8F8F8;
	font-family: '__Roboto_5';
	font-weight: 200;
}

#u248-23
{
	font-size: 24px;
	line-height: 36px;
	font-family: '__Roboto_5';
	font-weight: 400;
}

#u248-25
{
	font-size: 40px;
	line-height: 36px;
	font-family: '__Roboto_5';
	font-weight: 200;
}

#book
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 393px;
}

#pu317-4
{
	width: 0.01px;
	margin-left: -198px;
	margin-top: 65px;
}

#u317-4
{
	z-index: 2;
	width: 961px;
	min-height: 60px;
	background-color: transparent;
	color: #000000;
	text-align: center;
	font-size: 170px;
	line-height: 204px;
	font-family: '__Roboto_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 832px;
	left: 197px;
}

#u183
{
	z-index: 46;
	width: 960px;
	height: 732px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 198px;
}

#u237-4
{
	z-index: 48;
	width: 514px;
	min-height: 60px;
	background-color: transparent;
	color: #000000;
	text-align: right;
	font-size: 200px;
	line-height: 240px;
	font-family: '__Roboto_5';
	font-weight: 500;
	-webkit-transform: matrix(0,-1,1,0,137,377);
	-ms-transform: matrix(0,-1,1,0,137,377);
	transform: matrix(0,-1,1,0,137,377);
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: -137px;
}

#u200
{
	z-index: 52;
	width: 961px;
	min-height: 683px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
	left: 177px;
}

#pu238
{
	width: 0.01px;
	margin-left: -1px;
	margin-top: -1036px;
}

#pu238_position_content
{
	margin-top: -2040px;
	padding-bottom: 3295px;
}

#u238
{
	z-index: 47;
	width: 363px;
	height: 732px;
	background-color: #F8F8F8;
	position: fixed;
	top: 2102px;
	left: 0px;
}

.js #u96-4.ose_pre_init,.js #u103-4.ose_pre_init,.js #u112.ose_pre_init,.js #u104.ose_pre_init,.js #u113.ose_pre_init,.js #u115.ose_pre_init,.js #u114.ose_pre_init,.js #u116.ose_pre_init,.js #u118.ose_pre_init,.js #u117.ose_pre_init,.js #u119.ose_pre_init,.js #u246.ose_pre_init,.js #u253.ose_pre_init,.js #u248-27.ose_pre_init,.js #u183.ose_pre_init,.js #u237-4.ose_pre_init,.js #u200.ose_pre_init,.js #u238.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pamphletu186
{
	z-index: 53;
	width: 0.01px;
	height: 60px;
	position: fixed;
	top: 2432px;
	left: 985px;
}

#u195
{
	z-index: 54;
	width: 60px;
	position: relative;
	margin-right: -10000px;
}

#u196
{
	position: absolute;
	width: 60px;
	border-color: #DEDEDE;
	background-color: transparent;
}

#u196:hover
{
	border-color: #999999;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u196.PamphletThumbSelected
{
	border-color: #999999;
	background-color: transparent;
	width: 60px;
	min-height: 0px;
	margin: 0px;
}

#u197-3
{
	z-index: 56;
	width: 60px;
	min-height: 60px;
	-pie-box-shadow: 0px 2px 8px #CCCCCC;
	box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
	border-radius: 100px;
	color: #FFFFFF;
	text-align: center;
	font-size: 41px;
	line-height: 58px;
	font-family: '__Roboto_5';
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	background: #000000 url("../images/tick.png") no-repeat left top;
}

#u196:hover #u197-3
{
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u196.PamphletThumbSelected #u197-3
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u196.PamphletThumbSelected #u197-3 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-family: '__Roboto_5';
	font-weight: 900;
	font-style: normal;
}

#u187
{
	position: absolute;
	width: 60px;
	background-color: transparent;
}

#u187popup
{
	z-index: 59;
}

#u188
{
	z-index: 60;
	width: 60px;
	height: 60px;
	border-style: none;
	border-color: #999999;
	background-color: #000000;
	border-radius: 100px;
	margin-right: -10000px;
	position: relative;
}

#u189
{
	z-index: 61;
	width: 59px;
	min-height: 31px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u316
{
	z-index: 6;
	width: 960px;
	height: 232px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #FFFFFF;
	position: fixed;
	top: 3125px;
	left: -1px;
}

#u319-6
{
	z-index: 8;
	width: 898px;
	min-height: 194px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 3163px;
	left: 30px;
}

#u348
{
	z-index: 7;
	width: 960px;
	height: 99px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #F8F8F8;
	position: fixed;
	top: 3258px;
	left: -1px;
}

#u349
{
	z-index: 14;
	width: 960px;
	height: 232px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #FFFFFF;
	position: fixed;
	top: 3426px;
	left: -1px;
}

#u351-6
{
	z-index: 16;
	width: 898px;
	min-height: 194px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 3464px;
	left: 30px;
}

#u350
{
	z-index: 15;
	width: 960px;
	height: 99px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #F8F8F8;
	position: fixed;
	top: 3559px;
	left: -1px;
}

#u352
{
	z-index: 22;
	width: 960px;
	height: 232px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #FFFFFF;
	position: fixed;
	top: 3727px;
	left: -1px;
}

#u354-6
{
	z-index: 24;
	width: 898px;
	min-height: 194px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 3765px;
	left: 30px;
}

#u353
{
	z-index: 23;
	width: 960px;
	height: 99px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #F8F8F8;
	position: fixed;
	top: 3860px;
	left: -1px;
}

#u355
{
	z-index: 30;
	width: 960px;
	height: 275px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #FFFFFF;
	position: fixed;
	top: 4028px;
	left: -1px;
}

#u357-6
{
	z-index: 32;
	width: 898px;
	min-height: 194px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 4066px;
	left: 30px;
}

#u356
{
	z-index: 31;
	width: 960px;
	height: 99px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #F8F8F8;
	position: fixed;
	top: 4204px;
	left: -1px;
}

#u364
{
	z-index: 38;
	width: 960px;
	height: 275px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #FFFFFF;
	position: fixed;
	top: 4372px;
	left: -1px;
}

#u366-6
{
	z-index: 40;
	width: 898px;
	min-height: 194px;
	background-color: transparent;
	text-align: center;
	position: fixed;
	top: 4410px;
	left: 30px;
}

#u319-2,#u351-2,#u354-2,#u357-2,#u366-2
{
	font-size: 30px;
	line-height: 41px;
	font-family: '__Roboto Slab_5';
	font-weight: 300;
}

#u319-4,#u351-4,#u354-4,#u357-4,#u366-4
{
	font-size: 40px;
	line-height: 120px;
	font-family: '__Roboto_5';
	font-weight: 500;
}

#u365
{
	z-index: 39;
	width: 960px;
	height: 99px;
	-pie-box-shadow: 0px 2px 4px #E5E5E5;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #F1F1F1;
	background-color: #F8F8F8;
	position: fixed;
	top: 4548px;
	left: -1px;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-medium-webfont.eot');
	src: local('☺'), url('../fonts/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium-webfont.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-thin-webfont.eot');
	src: local('☺'), url('../fonts/roboto-thin-webfont.woff') format('woff'), url('../fonts/roboto-thin-webfont.svg') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto Slab_5';
	src: url('../fonts/robotoslab-bold-webfont.eot');
	src: local('☺'), url('../fonts/robotoslab-bold-webfont.woff') format('woff'), url('../fonts/robotoslab-bold-webfont.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-light-webfont.eot');
	src: local('☺'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto_5';
	src: url('../fonts/roboto-regular-webfont.eot');
	src: local('☺'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__Roboto Slab_5';
	src: url('../fonts/robotoslab-light-webfont.eot');
	src: local('☺'), url('../fonts/robotoslab-light-webfont.woff') format('woff'), url('../fonts/robotoslab-light-webfont.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

